* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.mainColor {
  color: #ff6f00;
}

.secondaryColor {
  color: #644f9c;
}

.mainColor2 {
  color: #f2f2f2;
}

.secondaryColor2 {
  color: #404040;
}

html {
  font-size: 62.5%;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

@media (max-width: 1164px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 991px) {
  .navbar_sec {
    grid-column: 1/2;
  }
  .Navbar_links {
    grid-column: 2/9;
  }
  .Navbar_login_Button {
    grid-column: 9/11;
  }
  .Navbar_login_Button {
    grid-column: 10/-1;
  }
}
@media (max-width: 950px) {
  button.singupBtn {
    font-size: 1.4rem;
  }
  button.loginBtn {
    font-size: 1.5rem;
  }
}

@media (max-width: 932px) {
  button.singupBtn {
    font-size: 1.2rem;
  }
  button.loginBtn {
    font-size: 1.2rem;
  }
  .Navbar_links ul li {
    font-size: 1.2rem;
  }
}

@media (max-width: 787px) {
  html {
    font-size: 45%;
  }
  /* .d-flex.slider-cards {
    flex-wrap: wrap;
    justify-content: center;
  } */
}
